<div id="<%= dom_id suivi %>">
  <p>
    <strong>Enfant:</strong>
    <%= suivi.enfant_id %>
  </p>

  <p>
    <strong>Temps endormissement:</strong>
    <%= suivi.temps_endormissement %>
  </p>

  <p>
    <strong>Heure endormissement:</strong>
    <%= suivi.heure_endormissement %>
  </p>

</div>
