<div id="<%= dom_id user %>">
  <p>
    <strong>Prenom:</strong>
    <%= user.prenom %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= user.nom %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= user.mail %>
  </p>

</div>
