<div id="<%= dom_id enfant %>">

  <div class="card p-2 m-2">

    <%#= enfant.user_id %>

    <p>
      <strong>Prenom:</strong>
      <%= enfant.prenom %>
    </p>

    <p>
      <strong>Birth:</strong>
      <%= enfant.birth %>
    </p>

    <%= link_to  "show", enfant %> <hr>

  </div>

</div>
