<h1>Home</h1>

<% if @user %>
    Connecté en tant que <%= @user.prenom %> <%= @user.nom %> <br> <br>

    <%= render 'dashboard/dashboard_parent' %>

<% else %>

    <%= render 'shared/home_user_connexion' %>

<% end %>
